.app {
  height: 100%;
}

.title {
  font-weight: bolder;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: xx-large;
  font-weight: bolder;
}

.chosenWord {
  background-color: rgb(101, 105, 107);
  color: white;
  height: 30px;
  width: 80px;
  text-align: center;
  border-radius: 5px;
  justify-content: space-around;
  font-weight: bolder;
  text-transform: uppercase;
  padding-top: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -5px;
  display: block;
}

.warning {
  background-color: rgb(101, 105, 107);
  color: white;
  height: 30px;
  width: 200px;
  text-align: center;
  border-radius: 5px;
  justify-content: space-around;
  font-weight: bolder;
  text-transform: uppercase;
  padding-top: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -5px;
  display: block;
}

.bar {
  width: 100vw;
  border-bottom: 1.5px solid rgb(211, 211, 211);
}

.tiles-container {
  justify-content: space-around;
  display: flex;
}

.table {
  top: 150px;
  display: flex;
  gap: 5px;
  flex-direction: column;
  position: absolute;
}

.line {
  display: flex;
  gap: 5px;
}

.tile {
  width: 60px;
  height: 60px;
  font-weight: bolder;
  border: 2px solid rgb(211, 211, 211);
  font-size: 30px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  transition: 0.2s ease-in-out;
}

.correct {
  animation: correct-flip 0.6s ease-in-out forwards;
  border: 2px solid rgb(101, 105, 107);
}

.incorrect {
  animation: incorrect-flip 0.6s ease-in-out forwards;
  border: 2px solid rgb(101, 105, 107);
}

.close {
  animation: close-flip 0.6s ease-in-out forwards;
  border: 2px solid rgb(101, 105, 107);
}

.not-null {
  border: 2px solid rgb(101, 105, 107);
  width: 60px;
  height: 60px;
  font-weight: bolder;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  animation: zoom-in-out 0.2s ease-in-out;
}

@keyframes zoom-in-out {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}

.animation-delay-0 {
  animation-delay: 0s;
}

.animation-delay-200 {
  animation-delay: 200ms;
}

.animation-delay-400 {
  animation-delay: 400ms;
}

.animation-delay-600 {
  animation-delay: 600ms;
}

.animation-delay-800 {
  animation-delay: 800ms;
}

.jiggle {
  animation: jiggling 0.2s;
}

@keyframes jiggling {
  0% {
    transform: translate(1px, 1px);
  }
  10% {
    transform: translate(-1px, -2px);
  }
  20% {
    transform: translate(-3px, 0px);
  }
  30% {
    transform: translate(3px, 2px);
  }
  40% {
    transform: translate(1px, -1px);
  }
  50% {
    transform: translate(-1px, 2px);
  }
  60% {
    transform: translate(-3px, 1px);
  }
  70% {
    transform: translate(3px, 1px);
  }
  80% {
    transform: translate(-1px, -1px);
  }
  90% {
    transform: translate(1px, 2px);
  }
  100% {
    transform: translate(1px, -2px);
  }
}

@keyframes correct-flip {
  0% {
    transform: scaleY(1);
  }

  50% {
    background: white;
    transform: scaleY(0);
  }

  100% {
    transform: scaleY(1);
    background: rgb(90, 156, 81);
    border: 2px solid rgb(90, 156, 81);
    color: white;
  }
}

@keyframes incorrect-flip {
  0% {
    transform: scaleY(1);
  }

  50% {
    background: white;
    transform: scaleY(0);
  }

  100% {
    transform: scaleY(1);
    background: rgb(101, 105, 107);
    border: 2px solid rgb(101, 105, 107);
    color: white;
  }
}

@keyframes close-flip {
  0% {
    transform: scaleY(1);
  }

  50% {
    background: white;
    transform: scaleY(0);
  }

  100% {
    transform: scaleY(1);
    background: rgb(190, 167, 71);
    border: 2px solid rgb(190, 167, 71);
    color: white;
  }
}

.flex {
  display: flex;
}
