:root {
  --green: rgb(90, 156, 81);
  --yellow: rgb(190, 167, 71);
  --gray: rgb(101, 105, 107);
}

.tiles-container {
  justify-content: space-around;
  display: flex;
}

.table {
  top: 150px;
  display: flex;
  gap: 5px;
  flex-direction: column;
  position: absolute;
}

.line {
  display: flex;
  gap: 5px;
}

.tile {
  width: 65px;
  height: 65px;
  font-weight: bolder;
  border: 2px solid rgb(211, 211, 211);
  font-size: 30px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  transition: 0.25s ease-in-out;
}

.not-null-tile {
  border: 2px solid var(--gray);
  width: 65px;
  height: 65px;
  font-weight: bolder;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  animation: zoom-in-out 0.2s ease-in-out;
}

.correct {
  animation: tile-flip 0.65s ease-in-out forwards;
  border: 2px solid var(--gray);
  --background: var(--green);
}

.incorrect {
  animation: tile-flip 0.65s ease-in-out forwards;
  border: 2px solid var(--gray);
  --background: var(--gray);
}

.close {
  animation: tile-flip 0.65s ease-in-out forwards;
  border: 2px solid var(--gray);
  --background: var(--yellow);
}

@keyframes tile-flip {
  0% {
    transform: scaleY(1);
    color: white;
  }

  50% {
    transform: scaleY(0);
    background: var(--background);
    border: 2px solid var(--background);
    color: white;
  }

  100% {
    transform: scaleY(1);
    background: var(--background);
    border: 2px solid var(--background);
    color: white;
  }
}

@keyframes zoom-in-out {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}

.delay-0 {
  animation-delay: 0s;
}

.delay-200 {
  animation-delay: 200ms;
}

.delay-400 {
  animation-delay: 400ms;
}

.delay-600 {
  animation-delay: 600ms;
}

.delay-800 {
  animation-delay: 800ms;
}

.jiggle {
  animation: jiggling 0.25s ease-in-out forwards;
}

@keyframes jiggling {
  0% {
    transform: translateX(5px);
  }
  25% {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(10px);
  }
  75% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0px);
  }
}

.keyboard-container {
  transform: translate(-50%, -50%);
}

.win {
  animation: winning 0.65s ease-in-out forwards;
  --background: rgb(90, 156, 81);
}

@keyframes winning {
  0% {
    transform: translateY(-15px);
    background: var(--background);
    border: 2px solid var(--background);
    color: white;
  }
  50% {
    transform: translateY(-25px);
    background: var(--background);
    border: 2px solid var(--background);
    color: white;
  }
  100% {
    transform: translateY(0px);
    background: var(--background);
    border: 2px solid var(--background);
    color: white;
  }
}
