.tiles-container {
  justify-content: space-around;
  display: flex;
}

.table {
  top: 150px;
  display: flex;
  gap: 5px;
  flex-direction: column;
  position: absolute;
}

.line {
  display: flex;
  gap: 5px;
}

.tile {
  width: 65px;
  height: 65px;
  font-weight: bolder;
  border: 2px solid rgb(211, 211, 211);
  font-size: 30px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  transition: 0.2s ease-in-out;
}

.correct {
  animation: correct-flip 0.6s ease-in-out forwards;
  border: 2px solid rgb(101, 105, 107);
}

.incorrect {
  animation: incorrect-flip 0.6s ease-in-out forwards;
  border: 2px solid rgb(101, 105, 107);
}

.close {
  animation: close-flip 0.6s ease-in-out forwards;
  border: 2px solid rgb(101, 105, 107);
}

.not-null {
  border: 2px solid rgb(101, 105, 107);
  width: 65px;
  height: 65px;
  font-weight: bolder;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  animation: zoom-in-out 0.2s ease-in-out;
}

@keyframes zoom-in-out {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}

.animation-delay-0 {
  animation-delay: 0s;
}

.animation-delay-200 {
  animation-delay: 200ms;
}

.animation-delay-400 {
  animation-delay: 400ms;
}

.animation-delay-600 {
  animation-delay: 600ms;
}

.animation-delay-800 {
  animation-delay: 800ms;
}

.jiggle {
  animation: jiggling 0.25s ease-in-out forwards;
}

@keyframes jiggling {
  0% {
    transform: translateX(5px);
  }
  25% {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(10px);
  }
  75% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes correct-flip {
  0% {
    transform: scaleY(1);
  }

  50% {
    background: white;
    transform: scaleY(0);
  }

  100% {
    transform: scaleY(1);
    background: rgb(90, 156, 81);
    border: 2px solid rgb(90, 156, 81);
    color: white;
  }
}

@keyframes incorrect-flip {
  0% {
    transform: scaleY(1);
  }

  50% {
    background: white;
    transform: scaleY(0);
  }

  100% {
    transform: scaleY(1);
    background: rgb(101, 105, 107);
    border: 2px solid rgb(101, 105, 107);
    color: white;
  }
}

@keyframes close-flip {
  0% {
    transform: scaleY(1);
  }

  50% {
    background: white;
    transform: scaleY(0);
  }

  100% {
    transform: scaleY(1);
    background: rgb(190, 167, 71);
    border: 2px solid rgb(190, 167, 71);
    color: white;
  }
}

.keyboard-container {
  transform: translate(-50%, -50%);
}

.win {
  animation: winning 0.6s ease-in-out forwards;
}

@keyframes winning {
  0% {
    transform: translateY(-15px);
    background: rgb(90, 156, 81);
    border: 2px solid rgb(90, 156, 81);
    color: white;
  }
  25% {
    transform: translateY(-25px);
    background: rgb(90, 156, 81);
    border: 2px solid rgb(90, 156, 81);
    color: white;
  }
  50% {
    transform: translateY(-15px);
    background: rgb(90, 156, 81);
    border: 2px solid rgb(90, 156, 81);
    color: white;
  }
  75% {
    transform: translateY(3px);
    background: rgb(90, 156, 81);
    border: 2px solid rgb(90, 156, 81);
    color: white;
  }
  100% {
    transform: translateY(0px);
    background: rgb(90, 156, 81);
    border: 2px solid rgb(90, 156, 81);
    color: white;
  }
}
